.DS_Store

# Automation
Automation/logs/*
Automation/sdb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# Data (use resilio to get them)
data
.cache
plots
datasets

# Virtual Share
Virtual_Share

# apk folders (Used to discover information about the package)
apk

# Use to snoop bluetooth directly on the watch but not appropriate technique
btsnoop
